main{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-image: url('/img/background.jpg');
    background-size: cover;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 20px 20px 50px;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(55, 143, 43, 0.767);
    font-size: 1.2em;
    width: 100%;
    max-width: 800px;
    padding: 30px;
    margin: 0 5px 30px;
    border-radius: 5px;
    color: white;
}

.grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
    gap: 15px;
    max-width: 800px;
    margin: 0 auto;
}

.card{
    width: 100%;
    aspect-ratio: 3/4;
    background-color: #ccc;
    border-radius: 5px;
    position: relative;
    transition: all 400ms ease;
    transform-style: preserve-3d;
}

.face{
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    border: 2px solid #e62719;
    transition: all 400ms ease;
}

.front{
    transform: rotateY(180deg);
}

.back{
    background-image: url(/img/back.jpg);
    backface-visibility: hidden;
}

.reveal-card{
    transform: rotateY(180deg);
}

.disabled-card{
    filter: saturate(0);
    opacity: 0.5;
}

.placar-winner{
    position: fixed;
    bottom: -100%;
    display: flex;
    background-color: rgba(204, 204, 204, 0.61);
    border-radius: 50px;
    box-shadow: 10px 7px 10px rgba(66, 63, 63, 0.76);
    width: 600px;
    height: 600px;
    margin: 50px auto;
    padding: 50px;
    border: black 2px solid;
}

.show-placar{
    bottom: 0;
}

.placar-button{
    font-size: 13px;
    width: 300px;
    height: 50px;
    box-shadow: 2px 5px 5px black;
}

.placar-exit{
   size: 15px; 
}